server:
  port: ${PORT:8080}

logging:
  level:
    org:
      springframework:
        security: DEBUG

oauth2:
  redirect_uri: ${REDIRECT}

spring:
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_ID}
            client-secret: ${GOOGLE_SECRET}
            scope: openid,profile,email