
server:
  port: ${PORT:8080}
  servlet:
    context-path: /api



application:
  frontend:
    path: "/"

oauth2:
  redirect_uri: "http://localhost:8000/"
  google:
    client:
      clientId: 162144903306-oi3udlmnst530mk7o9djc2rfp4ippvuc.apps.googleusercontent.com
      clientSecret: vKV7WtEFUUloxBa5BMZ_vzLv
      accessTokenUri: https://www.googleapis.com/oauth2/v4/token
      userAuthorizationUri: https://accounts.google.com/o/oauth2/v2/auth
      tokenName: oauth_token
      authenticationScheme: query
      clientAuthenticationScheme: form
      scope: openid profile email
    resource:
      userInfoUri: https://www.googleapis.com/oauth2/v3/userinfo


#spring:
#  security:
#    oauth2:
#      client:
#        registration:
#          google:
#            client-id: "162144903306-oi3udlmnst530mk7o9djc2rfp4ippvuc.apps.googleusercontent.com"
#            client-secret: "vKV7WtEFUUloxBa5BMZ_vzLv"